.badge {
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: #EBEBEB;
  padding: 2px;
  display: block;
  z-index: 9999;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.inline {
  position: static;
  display: inline-block;
  margin-left: 10px;
}

.text {
  width : auto;
}

.circle {
  border-radius: 50%;
}

.warning,
.alert,
.success,
.info {
  color: #FFF;
}

.warning {
  background-color: #D43728;
}

.alert {
  background-color: #EDE821;
}

.success {
  background-color: #08C008;
}

.info {
  background-color: #23C9FF;
}

.outer,
.outer.warning,
.outer.alert,
.outer.success,
.outer.info {
  background-color: #FFF;
}

.outer {
  color: grey;
  border: 2px solid #EBEBEB;
}

.outer.warning {
  color: #D43728;
  border-color: #D43728;
}

.outer.alert {
  color: #EDE821;
  border-color: #EDE821;
}

.outer.success {
  color: #08C008;
  border-color: #08C008;
}

.outer.info {
  color: #23C9FF;
  border-color: #23C9FF;
}
