.list-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-group > *:first-child {
  border-radius: 5px 5px 0 0;
}

.list-group > *:last-child {
  border-radius: 0 0 5px 5px;
}
